
#div5{
    text-align: center;
    background-color: rgb(187, 233, 187);
    margin-top: -27px;
   


}
h2{
    color: rgb(19, 70, 19);
    font-weight: bold;
    font-size: 70px;
    margin-top: -20px;
}
h1{
   
    text-align: left;
    border-style: solid ;
    color: white;    
   
    padding: 15px;
    height: 30px;
    background-color:rgb(17, 77, 17);
    width: 100%;
    margin-left: -20;
 
  

    
}
